ion-content{
  --background: url('/assets/img/wallpaper/bigs.png') no-repeat center/cover fixed !important;
}

.slot-machine {
  text-align: center;
  font-family: Arial, sans-serif;
}

.reels {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 40px;
  padding: 10px;
  border-radius: 20px;
  background: rgb(69, 69, 68);
  width: 340px;
}

.reel {
  width: 80px;
  height: 200px; /* Set to show only 3 symbols at a time */
  overflow: hidden;
  border: 1px solid #000;
  position: relative;
  background: linear-gradient(to top, #fff, #fefefe, #454544,#fefefe, #fff);
  margin: 0 3px;
}

.reel div {
  font-size: 40px;
  text-align: center;
  //padding: 10px 0;
  height: 66px;
  position: relative;
  z-index: 10;
}

.sur{
  position: absolute;
  top: 83px;
  width: 56px;
  height: 60px;
  background: #ffffffc4;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  z-index: 9;
}

#sur1{
  left: 14px;
}

#sur2{
  left: 78px;
}

#sur3{
  left: 142px;
}

#sur4{
  left: 206px;
}

#sur5{
  left: 270px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.spinning div {
  animation: spin 2s linear infinite;
}

/* Adjust the animation to spin all symbols in the reel */
@keyframes spin {
  0% {
    transform: translateY(0); /* Start at the first symbol */
  }
  100% {
    transform: translateY(-1300px); /* Spin through all symbols (5 symbols total) */
  }
}

.points{
  //font-size:15px;
  font-family: Rapier;
  letter-spacing: 1px;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  background: url('/assets/img/apple/default_snow.png') no-repeat center/cover fixed !important;
  color: black;

  ion-col{
    text-align: center;
  }
  ion-input{
    color: white;
    background: #454544;
    font-family: Rapier;
    font-size: 25px;
    border-color: #FCD000;
  }
}

.toggle{
  background: white;
  border-radius: 5px;
  font-family: Rapier;
  padding: 10px;
  height: 44.5px;
  margin-top: -4px;
}

.fruits{
  font-size: 13px;
  span{
    font-size: 15px;
  }
}
