<ion-content>
  <ion-toolbar style="--background: transparent" class="ion-text-center">
    <ion-chip slot="start">
      <ion-avatar>
        <img alt="{{user.user_name}}" src="../../../assets/icon/logo.png" />
      </ion-avatar>
      <ion-label>{{user.user_name|limitTo:10}}</ion-label>
    </ion-chip>

    <ion-chip style="background: white" (click)="showRule()">
      <ion-label>Règles du jeu</ion-label>
    </ion-chip>

    <ion-chip slot="end">
      <ion-label>{{user.point|priceFormat}} W</ion-label>
    </ion-chip>
  </ion-toolbar>
  <h3 class="jackpot ion-text-center"  style="margin: 10px 15px;
  background: #ddb8788c;
  border-radius: 20px;
  padding: 10px;
  font-size: 30px;">
    Jackpot :
    <span style="color:var(--ion-color-primary);"> {{game.jackpot|priceFormat}} W</span>
  </h3>

  <div id="wheel-container">
    <canvas id="wheel"></canvas>
  </div>

  <ion-grid *ngIf="result.prize!=undefined">
    <h3 class="ion-text-center primary" style="margin: 10px 30px;
  background: #fff;
  border-radius: 20px;
  padding: 5px 5px 10px;
  font-size: 25px;">Resultat : {{result.prize}}</h3>

  </ion-grid>



  <ion-grid style="margin: 10px; background: #ddb8788c; border-radius: 20px;">
    <h3 class="ion-text-center tertiary">Les prix à gagner</h3>
    <ion-row  style="font-size: 12px">
      <ion-col size="3" *ngFor="let s of win_p">
        {{s.text}} : <strong>{{s.prize}}</strong>
      </ion-col>
      <ion-col size="3">
        Autre : <strong>0 W</strong>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-modal-message [message]="message" *ngIf="showMessage" [titre]="titre" (actionEmitted)="closeMessage($event)"></app-modal-message>

  <ion-footer *ngIf="showFooter" style="width: 100%; background: transparent !important;">
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="close()" color="tertiary">Fermer</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="startGame()" color="medium">Jouer</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>

