<ion-header class="ion-no-border">
  <ion-toolbar style="--background:#f6f6f6 !important">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title>Historique de score</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row style="font-weight: bold">
      <ion-col size="5">Désignation</ion-col>
      <ion-col size="3" class="ion-text-right">Montant</ion-col>
      <ion-col size="4" class="ion-text-right">Date</ion-col>
    </ion-row>
    <ion-row *ngFor="let s of items" style="font-size: 12px">
      <ion-col size="5">
        <strong>{{s.name}}</strong>
      </ion-col>
      <ion-col size="3" class="ion-text-right">{{s.amount|priceFormat}} W</ion-col>
      <ion-col size="4" class="ion-text-right">{{s.date|dateFormat}}</ion-col>
    </ion-row>
  </ion-grid>
  <app-modal-loading *ngIf="showLoading"></app-modal-loading>
</ion-content>
