<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>machine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slot-machine">
    <h1>Slot Machine Game</h1>
    <div class="reels">
      <div class="reel" [class.spinning]="spinningReels[0]">
        <div *ngFor="let symbol of slots[0]">{{ symbol }}</div>
      </div>
      <div class="reel" [class.spinning]="spinningReels[1]">
        <div *ngFor="let symbol of slots[1]">{{ symbol }}</div>
      </div>
      <div class="reel" [class.spinning]="spinningReels[2]">
        <div *ngFor="let symbol of slots[2]">{{ symbol }}</div>
      </div>
    </div>
    <button (click)="spin()" [disabled]="spinning">🎰 Spin</button>
    <p class="message">{{ message }}</p>
  </div>




</ion-content>
