<ion-header class="ion-no-border">
  <ion-toolbar style="--background:transparent">
    <ion-title class="white">Mon compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-modal-loading *ngIf="showLoading"></app-modal-loading>

  <ion-list class="ion-margin">

    <ion-item-group>

      <ion-item lines="none" *ngIf="is_user" (click)="showAccount()">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="../../../assets/icon/setting/person.svg" />
        </ion-avatar>
        <ion-label>
          <h2>Informations personnelles</h2>
          <p>Consulter vos infos</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="is_user" (click)="withdrawal()">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="../../../assets/icon/setting/diamond.svg" />
        </ion-avatar>
        <ion-label>
          <h2>Gestion du compte</h2>
          <p>{{user_point|priceFormat}} W</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="is_user" (click)="promo_code()">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="../../../assets/icon/setting/gift.svg" />
        </ion-avatar>
        <ion-label>
          <h2>Code promo</h2>
          <p>Participer au programme</p>
        </ion-label>
      </ion-item>

    </ion-item-group>

    <ion-item-group>

      <ion-item lines="none" *ngIf="is_user" (click)="logout()">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="../../../assets/icon/setting/log-out.svg" />
        </ion-avatar>
        <ion-label>
          <h2>Déconnexion</h2>
          <p>Informations personnelles</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="is_user" (click)="deleteUser()">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="../../../assets/icon/setting/trash.svg" />
        </ion-avatar>
        <ion-label>
          <h2>Supprimer le compte</h2>
          <p>Supprimer définitivement votre compte</p>
        </ion-label>
      </ion-item>

    </ion-item-group>


  </ion-list>
</ion-content>

<ion-footer style=" width: 100%; background: transparent !important;">
  <ion-grid>

    <ion-row style="margin-bottom: 0">
      <ion-col class="ion-col-35">

      </ion-col>
      <ion-col size="5">

        <ion-row class="encoche shadow">
          <ion-col class="middle">
            <ion-icon class="active" name="person-outline"></ion-icon>
          </ion-col>

          <ion-col class="middle" (click)="showHome()">
            <ion-icon name="game-controller-outline"></ion-icon>
          </ion-col>

          <ion-col class="middle" (click)="showSetting()">
            <ion-icon name="menu-outline"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-footer>
