<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-chip>
      <ion-avatar>
        <img alt="{{user.user_name}}" src="../../../assets/icon/logo.png" />
      </ion-avatar>
      <ion-label>{{user.user_name}}</ion-label>
    </ion-chip>

    <ion-chip slot="end">
      <ion-label>{{user.point|priceFormat}} W</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <div class="sous-titre ion-text-center">
      <img src="../../../assets/img/Liste-des-jeuX-26-08-2024.png" alt="" class="radius" style="width: 80%">
    </div>

    <ion-row class=" ion-text-center">
      <ion-col (click)="goToGame('puzzle')" size="4">
        <img src="../../../assets/img/wz/game/crystal.png" alt="" class="radius">
        <br>
        <img src="../../../assets/img/Crystal-26-08-2024.png" alt="" class="radius" style="width: 80%">
      </ion-col>
      <ion-col (click)="goToGame('crash')" size="4">
        <img src="../../../assets/img/wz/game/truck.png" alt="" class="radius">
        <br>
        <img src="../../../assets/img/Truck-Crash-26-08-2024.png" alt="" class="radius">
      </ion-col>
      <ion-col (click)="goToGame('fortune')" size="4">
        <img src="../../../assets/img/wz/game/roue.png" alt="" class="radius">
        <br>
        <img src="../../../assets/img/Roue-du-Bonheur-26-08-2024.png" alt="" class="radius">
      </ion-col>
    </ion-row>

    <ion-row class=" ion-text-center">
      <ion-col (click)="goToGame('memory')" size="4">
        <img src="../../../assets/img/wz/game/memory.png" alt="" class="radius">
        <br>
        <img src="../../../assets/img/Memory-26-08-2024.png" alt="" class="radius" style="width: 80%">
      </ion-col>
      <ion-col (click)="goToGame('bats')" size="4">
        <img src="../../../assets/img/wz/game/10.png" alt="" class="radius">
        <br>
        <img src="../../../assets/img/Bats-10-26-08-2024.png" alt="" class="radius" style="width: 80%">
      </ion-col>
      <ion-col (click)="goToGame('grenade')" size="4">
        <img src="../../../assets/img/wz/game/reapers.png" alt="" class="radius">
        <br>
        <img src="../../../assets/img/Reapers-30-08-2024.png" alt="" class="radius" style="width: 80%">
      </ion-col>

    </ion-row>

    <ion-row class=" ion-text-center">
      <ion-col (click)="goToGame('dices')" size="4">
        <img src="../../../assets/img/wz/game/dices.png" alt="" class="radius">
        <br>
        <img src="../../../assets/img/Dices-06-09-2024.png" alt="" class="radius" style="width: 80%">
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
