.grid{
  padding: 30px;
}

.grid-item{
  border-radius: 20px;
  background: #e5e7af; //#f3f7ba 1px solid #051
  width: 100%;
  height: 100%;
}

.grid-item-open{
  border-radius: 20px;
  background: #e5e7af;
  width: 100%;
  height: 100%;
}

.choice{
  background: white !important;
}

.dashboard{
  color: white !important;
  background: rgb(55, 156, 51);
  border-radius: 10px;
  font-family: Rapier;
  text-align: center;
  width: 200px;
  letter-spacing: 1px;
}
