<ion-header class="ion-no-border">
  <ion-toolbar style="--background: transparent" class="ion-text-center">
    <ion-chip style="background: #aede77" slot="start">
      <ion-avatar>
        <img alt="{{user.user_name}}" src="../../../assets/icon/logo.png" />
      </ion-avatar>
      <ion-label>{{user.user_name|limitTo:10}}</ion-label>
    </ion-chip>

    <ion-chip style="background: #aede77" (click)="showRule()">
      <ion-label>Règles du jeu</ion-label>
    </ion-chip>

    <ion-chip style="background: #aede77" slot="end">
      <ion-label>{{user.point|priceFormat}} W</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-modal-loading *ngIf="showLoading"></app-modal-loading>
  <app-modal-message [message]="message" *ngIf="showMessage" [titre]="titre" (actionEmitted)="closeMessage($event)"></app-modal-message>

  <ion-grid class="middle" style="margin-top: 20px">
    <ion-row class="dashboard">
      <ion-col>Jackpot <br> <span class="medium" style="font-size: 25px">{{game.jackpot|priceFormat}} W</span></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid">
    <ion-row>
      <ion-col size="4" *ngFor="let a of dispositions; let i = index">
        <div (click)="choice(i)" class="grid-item-open shadow" [ngClass]="{'choice':user_choice==i && a==0, 'pulsate-bck':a==1 && user_choice!=-1}">
          <img *ngIf="a==1 && !isStarted" src="../../../../assets/img/lucky/treffle.png" alt="">
          <img *ngIf="a==0 && !isStarted" src="../../../../assets/img/lucky/lost_b.png" alt="">
          <img *ngIf="isStarted" src="../../../../assets/img/lucky/rien.png" alt="">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer style="width: 100%; background: transparent !important;">
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="close()" color="danger">Fermer</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" [disabled]="!showFooter" (click)="startGame()" color="medium">Jouer</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
