<ion-header class="ion-no-border">
  <ion-toolbar style="--background: transparent" class="ion-text-center">
    <ion-chip style="background: white" slot="start">
      <ion-avatar>
        <img alt="{{user_name}}" src="../../../assets/icon/logo.png" />
      </ion-avatar>
      <ion-label>{{user_name|limitTo:10}}</ion-label>
    </ion-chip>

    <ion-chip style="background: white" (click)="showRule()">
      <ion-label>Règles du jeu</ion-label>
    </ion-chip>

    <ion-chip style="background: white" slot="end" >
      <ion-label>{{user_point|priceFormat}} W</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngClass]="{'bg-red':isCrashed, 'bg-green':!isCrashed}">


  <div class="countdown middle" *ngIf="chiffre>0 && isCountdown">
    {{chiffre}}
  </div>

  <div class="car" *ngIf="!isCrashed">
    <div class="loop-wrapper">
      <div class="multiplicateur middle">x{{multiplier.toFixed(2)}}</div>
      <div class="mountain" id="mon"></div>
      <div class="hill"></div>
      <div class="tree"></div>
      <div class="tree"></div>
      <div class="tree"></div>
      <div class="rock"></div>
      <div class="truck"></div>
      <div class="wheels"></div>
    </div>
  </div>

  <div class="crash" *ngIf="isCrashed">
    <div class="loop-wrapper">
      <div class="multiplicateur middle">x{{multiplier.toFixed(2)}}</div>
      <div class="montagne"></div>
      <div class="paysage"></div>
      <div class="arbre"></div>
      <div class="arbre"></div>
      <div class="arbre"></div>
      <div class="pierre"></div>
      <div class="camion"></div>
      <div class="roue"></div>
    </div>
  </div>

  <div class="game-container">
    <ion-grid>
      <h3>Multiplicateur</h3>
      <ion-row>
        <ion-col size="3">
          <ion-button [disabled]="isStarted" *ngIf="user_multiplier!=2" color="tertiary" expand="block" (click)="user_multiplier=2">x2</ion-button>
          <ion-button [disabled]="isStarted" *ngIf="user_multiplier==2" color="medium" expand="block">x2</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button [disabled]="isStarted" *ngIf="user_multiplier!=3" color="tertiary" expand="block" (click)="user_multiplier=3">x3</ion-button>
          <ion-button [disabled]="isStarted" *ngIf="user_multiplier==3" color="medium" expand="block">x3</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button [disabled]="isStarted" *ngIf="user_multiplier!=4" color="tertiary" expand="block" (click)="user_multiplier=4">x4</ion-button>
          <ion-button [disabled]="isStarted" *ngIf="user_multiplier==4" color="medium" expand="block">x4</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button [disabled]="isStarted" *ngIf="user_multiplier!=5" color="tertiary" expand="block" (click)="user_multiplier=5">x5</ion-button>
          <ion-button [disabled]="isStarted" *ngIf="user_multiplier==5" color="medium" expand="block">x5</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button [disabled]="isStarted" *ngIf="user_multiplier!=15" color="tertiary" expand="block" (click)="user_multiplier=15">x15</ion-button>
          <ion-button [disabled]="isStarted" *ngIf="user_multiplier==15" color="medium" expand="block">x15</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button [disabled]="isStarted" *ngIf="user_multiplier!=20" color="tertiary" expand="block" (click)="user_multiplier=20">x20</ion-button>
          <ion-button [disabled]="isStarted" *ngIf="user_multiplier==20" color="medium" expand="block">x20</ion-button>
        </ion-col>
        <ion-col size="6" class="middle">
          <ion-input [disabled]="isStarted" style="z-index: 0;" type="number" min="1" max="20" step="0.1" [(ngModel)]="user_multiplier" placeholder="Multiplicateur personnalisé"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="rapier middle">
          <h3>Mise</h3>
        </ion-col>
        <ion-col size="5">
          <ion-input [disabled]="isStarted" style="z-index: 0;" type="number" min="50" max="10000" step="50" [(ngModel)]="mise" placeholder="Mise"></ion-input>
        </ion-col>
      </ion-row>

    </ion-grid>

    <h3><ion-toggle style="z-index: 0;" [(ngModel)]="auto" [disabled]="isStarted" [checked]="auto" color="medium" [enableOnOffLabels]="true">Jeu Auto ?</ion-toggle></h3>
    <h2 *ngIf="isCrashed">Le camion <br>a crashé !!!</h2>
    <h3 *ngIf="auto && total_partie>0">
      Gain : {{gain-prelevement |priceFormat}} W
    </h3>
    

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" *ngIf="isCountdown && chiffre>1" (click)="cancel()" color="light">Annuler</ion-button>
      </ion-col>
    </ion-row>

  </div>
  <app-modal-loading *ngIf="showLoading"></app-modal-loading>
  <app-modal-message [message]="message" *ngIf="showMessage" [titre]="titre" (actionEmitted)="closeMessage($event)"></app-modal-message>
  <ion-footer *ngIf="showFooter" style="position:absolute; bottom:0; width: 100%; background: transparent !important;">
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-button expand="block" [disabled]="isStarted || isCountdown" (click)="close()" color="tertiary">Fermer</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" [disabled]="isStarted || isCountdown" (click)="startGame()" color="medium">Jouer</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>
