<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-chip lot="start" *ngIf="is_user" class="chip" (click)="showUser()">
      <ion-avatar>
        <img alt="{{user.user_name}}" src="../../../assets/icon/logo.png" />
      </ion-avatar>
      <ion-label>{{user.user_name}}</ion-label>
    </ion-chip>

    <ion-chip slot="end" class="chip" *ngIf="is_user">
      <ion-label>{{user.point|priceFormat}} W</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <img src="../../../assets/img/Katika-25-08-2024.png" alt="" class="radius" >

        <img src="../../../assets/img/Joue-et-tente-de-gagner-25-08-2024.png" alt="" class="radius" >
      </ion-col>
      <ion-col size="12" class="rapier ion-text-center">
        <div class="cagnotte">
          <span style="font-size: 30px">Objectif de la semaine</span> <br>
          <span style="font-size: 40px; color:#fff">{{target|priceFormat}} W</span>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="scores.length>0">
    <div class="sous-titre ion-text-center" style="margin-top: -10px !important;">
      <img src="../../../assets/img/Meilleurs-Joueurs-01-09-2024.png" style="width: 80%" alt="" class="radius">
    </div>
    <div class="grid-rank">
      <ion-row style="display:none;">
        <ion-col size="1">
          #
        </ion-col>
        <ion-col size="7">
          Joueur
        </ion-col>
        <ion-col size="4" class="ion-text-right">Points</ion-col>
      </ion-row>
      <ion-row *ngFor="let s of scores" class="rank{{s.rank}}">
        <ion-col size="1">
          <span *ngIf="s.rank>3">{{s.rank}}</span>
          <span name="crown" *ngIf="s.rank==1">🥇</span><span name="crown" *ngIf="s.rank==2">🥈</span><span name="crown" *ngIf="s.rank==3">🥉</span>
        </ion-col>
        <ion-col size="7">
          {{s.user_name|limitTo:10}}
        </ion-col>
        <ion-col size="4" class="ion-text-right">{{s.point|priceFormat}} W</ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-grid>
    <div class="sous-titre ion-text-center" style="margin-top: 0">
      <img src="../../../assets/img/Jouer-25-08-2024.png" alt="" class="radius pulsate-bck" style="width: 80%" (click)="games()">
    </div>
  </ion-grid>

  <ion-button  style="display: none" id="open-modalC" expand="block">Open Sheet Modal</ion-button>

  <ion-modal #modalDetail trigger="open-modalC" [initialBreakpoint]="0.75" [breakpoints]="[0,0.75,1]">
    <ng-template>
      <ion-content>
        <ion-row class="ion-text-center" style="margin-top: 10px">
          <ion-col size="6">
            <img src="../../../assets/img/Connexion-26-08-2024.png" alt="" class="radius" style="width: 80%" (click)="choice='c'">
          </ion-col>
          <ion-col size="6">
            <img src="../../../assets/img/Inscription-26-08-2024.png" alt="" class="radius" style="width: 80%" (click)="choice='i'">
          </ion-col>
        </ion-row>

        <ion-grid class="custom" *ngIf="choice=='c'">
          <ion-row>
            <ion-col>
              <ion-input type="number" label="Téléphone*" min="MIN" max="MAX" [(ngModel)]="phone" labelPlacement="stacked" placeholder="Téléphone"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="password" label="Mot de passe" (keyup.enter)="login()" [(ngModel)]="password" labelPlacement="stacked" placeholder="Mot de passe"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <a style="text-decoration: underline;" (click)="goToReset()">
                <small class="black">{{'forgot_password'|translate}}</small>
              </a>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="tertiary" (click)="login()" >{{'login'|translate}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="custom" *ngIf="choice=='i'">
          <ion-row>
            <ion-col size="6">
              <ion-input type="text" label="Username*" [(ngModel)]="user_name" labelPlacement="stacked" placeholder="Username"></ion-input>
            </ion-col>
            <ion-col size="6">
              <ion-input type="number" label="Téléphone*" min="{{MIN}}" max="{{MAX}}" [(ngModel)]="phone" labelPlacement="stacked" placeholder="Téléphone"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col >
              <ion-input type="email" label="Email*" [(ngModel)]="email" labelPlacement="stacked" placeholder="Email"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col >
              <ion-input type="text" label="Code Promo(facultatif)" (focusout)="checkCodePromo()" [(ngModel)]="code" labelPlacement="stacked" placeholder="Code Promo(facultatif)"></ion-input>
              <small *ngIf="promo_code.bonus>0">Ce code promo vous donne droit à {{promo_code.bonus|priceFormat}} W bonus</small>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-input type="password" label="Mot de passe" [(ngModel)]="password" labelPlacement="stacked" placeholder="Mot de passe"></ion-input>
            </ion-col>
            <ion-col size="6">
              <ion-input type="password" label="Mot de passe encore" [(ngModel)]="password_confirmation" labelPlacement="stacked" placeholder="Mot de passe encore"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button expand="block" color="tertiary" (click)="register()" >{{'register'|translate}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
<ion-footer style=" width: 100%; background: transparent !important;">
  <ion-grid>

    <ion-row style="margin-bottom: 0">
      <ion-col class="ion-col-35"></ion-col>

      <ion-col size="5">

        <ion-row class="encoche shadow">
          <ion-col class="middle" (click)="showUser()">
            <ion-icon name="person-outline"></ion-icon>
          </ion-col>

          <ion-col class="middle" >
            <ion-icon class="active" name="game-controller-outline"></ion-icon>
          </ion-col>

          <ion-col class="middle" (click)="showSetting()">
            <ion-icon name="cog-outline"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
