ion-content.home-content{
  --background: url('/assets/img/wallpaper/ka.jpeg') no-repeat center/cover fixed !important;
}

h2,h3{
  font-family: Rapier;
}

ion-title{
  img{
    width: 225px;
    margin-top: 10px;
  }
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card-title{
  font-size: 20px;
  font-weight: bold;
}

ion-card-subtitle{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

ion-row{
  margin-bottom: 10px;
  &.score{
    margin-top: -20px;
  }
}

.custom{
  ion-row{
    margin-bottom: 0 !important;
  }
}

.custom-list{
  ion-item{
    border: 0.5px solid #cdcdcd;
    margin-bottom: 10px;
  }
}

ion-toolbar{
  --background: transparent !important;
}

.cagnotte{
  color: var(--ion-color-medium);
  background: rgba(41, 60, 100, 0.9509803922);
  border-radius: 20px;
  padding: 10px;
}

.chip{
  background: #fff;
  color:var(--ion-color-tertiary)
}

.version{
  color: var(--ion-color-medium);
  background: var(--ion-color-tertiary);
  border-radius: 15%;
  padding: 0px 5px 1px;
}

.grid-rank{
  margin: 0 5%;
  background: url('/assets/img/apple/default_snow.png') no-repeat center/cover fixed !important;
  border: 2px solid #fcd000;
  border-radius: 10px;
  padding: 10px;
  max-height: 170px;
  overflow: auto;
  font-family: Rapier;
  letter-spacing: 1px;
  color:var(--ion-color-tertiary);
  font-size: 16px;

  ion-row{
    margin-bottom: 3px;
  }


  .rank1{
    color: var(--ion-color-primary) !important;
  }
  .rank2{
    color: #8a409f !important;
  }
  .rank3{
    color: var(--ion-color-danger) !important;
  }

  ion-col{
    padding: 0;

  }
}
