<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="medium"></ion-back-button>
    </ion-buttons>
    <ion-title class="medium">Tableau de bord</ion-title>
    <ion-buttons slot="end" >
      <ion-icon slot="icon-only" class="medium" name="refresh" (click)="loadStories()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-modal-loading *ngIf="showLoading"></app-modal-loading>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>

    <ion-row class="hide">
      <ion-col size="6">
        <ion-button id="present-alert" size="small" colo="tertiary" style="--border-radius: 20px">
          <span *ngIf="periode=='day'">Aujourd'hui </span>
          <span *ngIf="periode=='yesterday'">Hier </span>
          <span *ngIf="periode=='this_month'">Ce mois-ci</span>
          <span *ngIf="periode=='week'">Les 7 derniers jours </span>
          <span *ngIf="periode=='month'">Les 30 derniers jours </span>
          <span *ngIf="periode=='year'">Cette année </span>
          <span *ngIf="periode=='custom'">Autre date </span>
          <ion-icon name="chevron-down"></ion-icon>
        </ion-button>
        <ion-alert
          trigger="present-alert"
          header="Choisir une période"
          [buttons]="alertButtons"
          [inputs]="alertInputs"
        ></ion-alert>

      </ion-col>

      <ion-col size="6" class="ion-text-right" *ngIf="periode=='custom'">

        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              presentation="date"
              [showDefaultTitle]="true"
              [showDefaultButtons]="true"
              doneText="Confirmer" cancelText="Annuler"
              format="YYYY-MM-DD"
              locale="fr-FR"
              (ionChange)="getStories()"
              [(ngModel)]="custom_date"
              id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>

      </ion-col>
    </ion-row>

    <ion-list class="custom-list">
      <ion-row class="row-gain">
        <ion-col size="3" class="ion-text-center">
          <strong style="text-transform: uppercase;font-size:12px">Gain</strong> <br>
          <strong class="primary">{{gain|priceFormat}}</strong>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <strong style="text-transform: uppercase;font-size:12px">Gain Jeux</strong> <br>
          <strong class="primary">{{dep_user|priceFormat}}</strong>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <strong style="text-transform: uppercase;font-size:12px">Perte</strong> <br>
          <strong class="primary">{{perte|priceFormat}}</strong>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <strong style="text-transform: uppercase;font-size:12px">Bénéfice</strong> <br>
          <strong class="primary">{{dep_user - perte|priceFormat}}</strong>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-list class="custom-list">
      <ion-row>
        <ion-col>
          <strong class="primary" style="text-transform: uppercase;font-size:12px">Jeu</strong> <br>
        </ion-col>
        <ion-col class="ion-text-right">
          <strong  class="primary"style="text-transform: uppercase;font-size:12px">Partie</strong> <br>
        </ion-col>
        <ion-col class="ion-text-right">
          <strong  class="primary"style="text-transform: uppercase;font-size:12px">Montant</strong> <br>
        </ion-col>
      </ion-row>
      <ion-row class="row-gain" *ngFor="let g of games">
        <ion-col size="6">
          <strong>{{g.name}}</strong>
        </ion-col>
        <ion-col size="2" class="ion-text-right">
          <strong>{{g.count|priceFormat}}</strong>
        </ion-col>
        <ion-col size="4" class="ion-text-right">
          <strong>{{g.amount|priceFormat}}</strong>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-list class="custom-list">
      <ion-row>
        <ion-col class="sous-titre">
          Top Joueurs
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let c of players" style="font-size: 13px">
        <ion-col size="7">
          <strong class="primary">{{c.user_name}}</strong>
        </ion-col>
        <ion-col class="ion-text-right bold tertiary">
          {{c.point|priceFormat}}
        </ion-col>
      </ion-row>
    </ion-list>

  </ion-grid>
</ion-content>
