<ion-header class="ion-no-border">
  <ion-toolbar style="--background: transparent" class="ion-text-center">
    <ion-chip color="medium" slot="start">
      <ion-avatar>
        <img alt="{{user.user_name}}" src="../../../assets/icon/logo.png" />
      </ion-avatar>
      <ion-label>{{user.user_name|limitTo:10}}</ion-label>
    </ion-chip>

    <ion-chip style="background: white" (click)="showRule()">
      <ion-label>Règles du jeu</ion-label>
    </ion-chip>

    <ion-chip slot="end" color="medium">
      <ion-label>{{user.point|priceFormat}} W</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="game-container">
    <div class="score-board">
      <h2>{{game.jackpot|priceFormat}} W</h2>
      <h3>à gagner</h3>
      <div class="ion-text-center rapier tertiary" style="margin-top:5px">
        Vie restante : <span *ngIf="totalLosses<2">❤️</span>️<span *ngIf="totalLosses<1">❤️</span>
      </div>
    </div>

    <div class="grid" style="grid-gap: {{gridGap}}">
      <button *ngFor="let crystal of crystals; let i = index"
              [disabled]="crystal.revealed || gameOver"
              (click)="revealCrystal(i)"
              class="crystal-btn"
              [class.revealed]="crystal.revealed">
        <span *ngIf="crystal.revealed">
          {{ crystal.type === 'gain' ? '💎' : (crystal.type === 'loss' ? '💣' : '❌') }}
        </span>
      </button>
    </div>
  </div>

  <!--div class="modal-message" *ngIf="showMessage" style="width: {{largeur}}">
    <h3>{{titre}}</h3>
    {{message}}
    <br>
    <div class="ion-text-center">
      <ion-button (click)="closeMessage()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </div>
  </div-->

  <app-modal-message [message]="message" *ngIf="showMessage" [titre]="titre" (actionEmitted)="closeMessage($event)"></app-modal-message>

  <ion-footer style="position:absolute; bottom:0; width: 100%; background: transparent !important;">
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="close()" color="tertiary">Fermer</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" class="pulsate-bck" *ngIf="!isStarted" (click)="startGame()" color="medium">Jouer</ion-button>
          <ion-button expand="block" *ngIf="isStarted" (click)="startGame()" color="light">Rejouer</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>
